body{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 0%;
    padding: 0px;
    background: #3E5151; 
    background: -webkit-linear-gradient(to right, #DECBA4, #3E5151);
    background: linear-gradient(to right, #DECBA4, #3E5151); 
}

/* ******************************************************* */
/* NAV */

.navbar{
    background: #3e51518f;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav_logo{
    font-weight: bold;
    font-size: 20px;
    margin: 15px;
    color: white;
}

.nav_items a{
    margin: 15px;
    color: #fff;
    text-decoration: none;
    position: relative;
}

.nav_items a::before{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background: #fff;
    transition: all 0.5s;
}

.nav_items a:hover::before{
    width: 100% !important;
}

.nav_toggle{
    display: none;
}

h1{
    text-align: center;
    /* color: rgb(238, 203, 108) !important; */
	color: #000;
	margin-top: 10px;
	margin-bottom: 0;
}

/* ****************************************************************** */
/* FORM */

.flex-container{
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	justify-content: center;
	/* background: hsl(44, 33%, 53%); */
    background: #3E5151; 
    background: -webkit-linear-gradient(to right, #DECBA4, #3E5151);
    background: linear-gradient(to right, #DECBA4, #3E5151); 
	margin: 50px 50px;
	padding: 20px;
	/* border: 15px solid hsl(44, 33%, 53%); */
	/* outline: 4px solid rgba(255, 255, 255, 0.137); */
	outline: 4px solid #000;
}

.form{
	min-width: 200px;
	flex: 1;
	text-align: center;
	padding: 30px;
	order: 5;
}

.form__input{
	width: 100%;
	padding: 7px;
	margin: 6px 0;
	border: none;
	border-bottom: 3px solid rgb(243, 216, 141);
	background: transparent;
	color: #fff;
}

.form__input:focus{
	background: linear-gradient(to bottom, transparent, rgba(255, 255, 255, 0.137));
	outline: none;
	border-bottom: 3px solid rgb(238, 203, 108);
}

.form textarea{
	min-height: 140px;
	resize: none;
}

.form input[type="submit"]{
	background: rgba(255, 255, 255, 0.137);
	border-bottom: none;
	padding: 12px;
    border-radius: 10px;
    color: #fff; 
    font-weight: bold;
}

.form input[type="submit"]:hover{
	/* background: rgba(255, 255, 255, 0.137); */
	border-bottom: none;
	padding: 12px;
	cursor: pointer;
}

.form input[type="submit"]:focus{
	background: rgba(255, 255, 255, 0.137);
}

.form input[type="submit"]:active{
	/* background: linear-gradient(to bottom, rgb(243, 216, 141), rgb(238, 203, 108)); */
    /* color: #000; */
	background-color: #000;
	color: #fff;
}

::placeholder{
    color: #000;
}


/* MOBILE */
@media(max-width:501px){

    /* NAV */
    
    .nav_items{
        position: absolute;
        top: 60px;
        left: 0;
        background-color: #3e51518f;
        display: flex;
        flex-direction: column;
        width: 100%;
        height: auto;
        transform: translateX(-100%);
        transition: 0.3s ease all;
    }

    .nav_items{
        text-align: center;
    }

    .nav_toggle{
        display: flex !important;
        flex-direction: column;
        margin: 15px;
    }

    .nav_toggle span{
        width: 30px;
        height: 4px;
        background-color: #fff;
        margin-bottom: 5px;
        border-radius: 2px;
        transform-origin: 5px 0px;
        transition: all 0.2s linear;
    }

    .close span{
        transform: rotate(45deg) translate(0px, 0px);
    }

    .close span:nth-child(2){ 
        display: none;
    }

    .close span:nth-child(3){
        transform: rotate(-45deg) translate(-5px, 1px);
    }

    .open{
        transform: translateX(0) !important
    }
}