body{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 0%;
    padding: 0px;
    background: #3E5151; 
    background: -webkit-linear-gradient(to right, #DECBA4, #3E5151);
    background: linear-gradient(to right, #DECBA4, #3E5151); 
}

h1{
    margin: 10px;
    color: rgb(248, 248, 248);
    text-align: center;
    margin: 12%;
}

header{
    background-color: rgb(1);
    color: rgb(226, 236, 205);
    /* padding: 16px;  */
    /* text-align:center; */
    /* margin-right: 0 5%; */
}

nav{
    background-color: rgba(255, 255, 255, 0.137);
    color: rgb(255, 255, 255);
    height: 60px;
    display: flex;
    justify-content:center; 
    align-items:center;
    /* padding: 0 16px; */
    /* margin-top: 2%; */
      
}

nav ul{
    list-style: none;
    margin: 0%;
    padding: auto;
    display: flex;
}

nav a{
    color: rgb(248, 248, 248);
    text-decoration: none;
    padding: 6px 16px;
    display: block;
}


h2{ 
    margin: 10px;
    color: rgb(248, 248, 248);
    text-align: center;
    margin: 12%;
}

.product-btn {
    text-decoration: none;
    background-color: whitesmoke;
    border: solid 1px darkslategray;
    padding: 5px 20px;
    color: black;
    border-radius: 10px;
    margin-top: 15px;
    display: inline-block;
}

.product-btn:hover {
    color: black;
    background-color: lightsteelblue;
}

#content{
    padding: 2px;
    margin-top: 30px ;
}

  .product-container{
    display: flex;
    max-width: 1080px;
    justify-content: center;
    flex-wrap: wrap;
    margin: 3em auto;
  }

  .product{
    width: 30%;
    text-align: center;
    max-width: 300px;
    padding: 1.5em 0;
    margin: 1.5%;
    background-color: rgba(255, 255, 255, 0.137);
    box-shadow:0 2px 4px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  .product p{
    margin-bottom: 0;
  }

  .product img{
    width: 80%;
    height: 250px;
    border-radius: 10px;
    object-fit: contain;
  }

  .product h3{
    margin: .5em;
    color: rgb(0, 0, 0);
    text-align: center;
    font-size: 24px;
}

p{
    margin: 10px;
    color: rgb(0, 0, 0,);
    text-align: center;
    margin: 12%;
}

button{
    display:block ;
    background-color: rgb(0, 17, 255);
    color: aqua;
    padding: 10px 20px ;
    text-decoration:none ;
    border-radius: 4px;
    
}

/* SLIDER */

 .slider-container{
    display: flex;
    width: 80%;
    height: 270px;
    margin: 0 auto;
    margin-top: 30px;
} 


.slider{
    background-image: url(../images/banner2.jpg);
    background-size: cover;
    height: 100%;
    width: 100%;
    border-radius: 10px;
    animation: animate 15s infinite;
}

footer{
    text-align: center;
    background-color: #3e51518f;
}

.footer-container {
    display: flex;
    justify-content: center;
    gap: 0 4em;
    padding: 15px;
}

.footer-container p{
    color: black;
    font-weight: bold;
}
.red-social{
    width: 25%;
}

.red-social i{
    font-size: 30px;
    padding: 10px;
}

.pagos img {
    width: 70px;
}

.copyright{
    color: black;
    font-weight: bold;
}
@keyframes animate {
    0%{
        background-image: url(../images/banner2.jpg);
        background-size: cover;
        /* background-position-x: -50px; */
    }

    50%{
        background-image: url(../images/banner1.jpg);
        background-size: cover;
    }

    100%{
        background-image: url(../images/banner3.jpg);
        background-size: cover;
    }
}

/* TABLETS */
@media(max-width:801px){
    .product img{
        width: 80%;
        border-radius: 10px;
    }

    .product{
        width: 45%;
        text-align: center;
        max-width: 300px;
        margin: 5px auto;
        padding: 1.5em 0;
        background-color: rgba(255, 255, 255, 0.137);
        box-shadow:0 2px 4px rgba(0, 0, 0, 0.5);
        border-radius: 10px;
    }
}

/* MOBILE */
@media(max-width:501px){
    .slider-container{                                                                                                                                                                    display: flex;
            width: 92%;
            height: 114px;
            margin: 0 auto;    
            margin-top: 30px;
    }
    .product{
        text-align: center;
        width: 80%;
        max-width: 350px;
        margin: 5px auto;
        padding: 1.5em 0;
        background-color: rgba(255, 255, 255, 0.137);
        box-shadow:0 2px 4px rgba(0, 0, 0, 0.5);
        border-radius: 10px;
    }

    .product img{
        width: 80%;
        border-radius: 10px;
    }

    .footer-container {
        display: block;
        padding: 15px;
        text-align: center;
    }
    .red-social{
        color: #e6ecf4;
        width: 100%;
    }
    
    .footer-container .red-social i{
        align-items: center ;
        display: inline-block;
    }  
}